{% macro generate() %}
    <ul class="sidebar__nav">
        {% for item in load_data(path="index.json", format="json") %}
            {% set class = "" %}
            {% if item.path ~ "/" == "/" ~ current_path %}
                {% set class = "active" %}
            {% endif %}
            <li><a href="{{ get_url(path=item.path) }}" class="{{ class }}">{{ item.descr }}</a></li>
        {% endfor %}
    </ul>
{% endmacro %}
